@model WebApp.ViewModels.LocationAssetCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Base.Resources.Common.CreateTitle</h1>

<h1>@App.Resources.Domain.LocationAssets.LocationAssetsSingular</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationAssets.Asset" class="control-label"></label>
                <select asp-for="LocationAssets.AssetId" class ="form-control" asp-items="Model.AssetSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationAssets.Location" class="control-label"></label>
                <select asp-for="LocationAssets.LocationId" class ="form-control" asp-items="Model.LocationSelectList"></select>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">
                    @Base.Resources.Common.CreateButton
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Base.Resources.Common.BackToListLink</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
